@charset "ISO-8859-1";
div.mes {
  margin: 0 auto;
  position: relative;

}

div.mes:nth-child(odd) {

  }

div.mes:nth-child(even) {
   
}

div.mes th,
div.mes td,
div.mes caption {
  font: norm1al 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 6px 4px;
}

.tabla_mes {
  border-spacing: 3px;
  empty-cells: hide;
}

div.mes td {
  text-align: center;
  border: 1px solid #eee;
}

div.mes th {
  color: #999;
}

div.mes caption.titulo {
  text-align: center;
  font-size: 18px;
  color: #c00;
}

.tabla_mes {
	width: 100%;
}
container {
}