@charset "ISO-8859-1";


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.row {
	display: flex;
}
.containerLogo{
	text-align: center;
	background: radial-gradient(circle, rgba(238,209,174,1) 0%, rgba(255,189,89,1) 100%);
}

.logo{
	border: 3px outset white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	width:150px;
	height:150px;
}

table{
	margin: 10px 0;
}
#tabla {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tabla td, #tabla th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tabla tr:nth-child(even){background-color: #f2f2f2;}

#tabla tr:hover {background-color: #ddd;}

#tabla th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}